.homePage {
    display: grid;
    grid-template-areas:
    'homePage_img homePage_heading'
    'homePage_img descriptionSPA'
}

.homePage_img {
    grid-area: homePage_img;
}

.homePage_heading {
    grid-area: homePage_heading;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.descriptionSPA {
    grid-area: descriptionSPA;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


