.table {
    border-collapse: collapse;
    border: 1px solid #dddddd;
    text-align: center;
}

.table th {
    font-size: 20px;
    color: black;
    font-weight: bold;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    font-size: 15px;
    text-align: center;
    border: 1px solid #dddddd;
}
